@use "sass:math";

:root {
  --firefly-color: #d99df1;
  --firefly-glow-color: #ffbbef;
}

@keyframes flight {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  15% {
    transform: translate(150px, -250px) rotate(120deg);
  }
  35% {
    transform: translate(300px, -100px) rotate(-90deg);
  }
  50% {
    transform: translate(100px, 200px) rotate(180deg);
  }
  65% {
    transform: translate(-250px, 150px) rotate(135deg);
  }
  85% {
    transform: translate(250px, 220px) rotate(-150deg);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}

@keyframes glow {
  0%, 100% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}

.firefly-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.firefly {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: var(--firefly-color);
  border-radius: 50%;
  box-shadow: 0 0 10px 2px var(--firefly-glow-color);
  animation: flight 1s infinite cubic-bezier(0.45, 0, 0.55, 1), glow 2s infinite ease-in-out;

  @for $i from 1 through 50 {
    &:nth-child(#{$i}) {
      left: math.random(100) * 1%;
      top: math.random(100) * 1%;
      animation-delay: math.random(2) - 2 + s;
      animation-duration: (20 + math.random(20)) + s;
    }
  }
} 